{% extends 'blog_app/base.html' %}
{% block content %}
  <h1>About Me</h1>
  <h3 class="aboutMe">I am a motivated data scientist and satellite Engineer, with up to 8 years’ experience. I am an enthusiastic team player with proven skills in analytics, time management and a priority-oriented individual.  I have a strong engineering background. I am confident that I will add value to your reputable organisation.</h3><br>
  <p>Thanks for visiting my blog!</p><br>
  <h2>Contact Me:</h2>
  <p>23 Liberty Boulevard, Millionaires Quarters, Jos. Plateau State.
(Mobile: +2348064473208.)
 (Email: nedu47@gmail.com.)
</p>
{% endblock %}
